## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.rpm
*.gem
*.tar.gz
*.pyc

## Derivative / Auto-created directories to ignore
bin/
build/
target/
generated-src/

## Eclipse specific
.classpath
.project
.settings/
.metadata

## Gradle specific
.gradle/

## Module specific

## Python MANIFEST and dist in ninja
ninja/system/src/python/MANIFEST
ninja/system/src/python/dist

## Ignore .svn files
.svn

